@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(/images/fondo.png);
  background-color: black;
  height: 100vh;
}

.footer-movil {
  width: 100vh;
}

@font-face {
  font-family: "iconos";
  src: url(../fonts/social\ media.ttf);
}
.nav-link {
  font-family: "Bebas Neue", sans-serif;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #F4F406;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 2rem;
}
.nav-link:hover {
  color: white;
  text-decoration: overline;
  transform: scale(1.2);
  transition: 0.7s;
}
.nav-link:active {
  color: white;
  text-decoration: overline;
}

.navbar-toggler-icon {
  background-image: url(../images/menu-burger.png);
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  text-align: center;
  background-image: url(/images/fondo.png);
  box-shadow: 0px 5px 25px 5px black;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  background-image: url(/images/fondo.png);
}

.navbar-brand:hover {
  transform: scale(0.9);
  transition: 1s;
}

footer {
  font-family: "Montserrat", sans-serif;
  background-color: #F4F406;
  color: black;
  height: 2rem;
  display: flex;
  justify-content: center;
  cursor: default;
  font-size: 1.2rem;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}
footer p {
  font-size: 100%;
}
@media (max-width: 1024px) {
  footer {
    display: none;
  }
}

.footer-pages {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer-pages p {
  font-size: 100%;
}

.footer-mobil {
  background-color: #F4F406;
  color: black;
  height: 5.5rem;
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  flex-wrap: nowrap;
  flex-direction: column;
}
.footer-mobil .footer-social {
  display: flex;
}
.footer-mobil p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  text-align: center;
  padding-bottom: 1rem;
}
.footer-mobil li {
  list-style: none;
  padding: 0.5rem;
  padding-top: 1rem;
}
.footer-mobil a {
  font-family: "iconos";
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
@media (min-width: 1024px) {
  .footer-mobil {
    display: none;
  }
}

.social {
  position: fixed;
  left: 0%;
  top: 250px;
  z-index: 2000;
}
.social ul {
  list-style: none;
  font-size: 2rem;
  padding-left: 0;
}
.social a {
  display: inline-block;
  color: white;
  padding: 3px 5px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: "iconos";
}
.social a:hover {
  background: #F4F406;
  padding: 3px 20px;
  color: black;
}
.social .facebook {
  background: #3b5998;
}
.social .instagram {
  background: #FD1D1D;
}
.social .mail {
  background: #BB001B;
}
.social .whatsapp {
  background: #075e54;
}
@media (max-width: 1024px) {
  .social {
    display: none;
  }
}

.carousel {
  padding-top: 8rem;
}
@media (max-width: 1024px) {
  .carousel {
    display: none;
  }
}

.carousel-movil {
  padding-top: 8rem;
}
@media (min-width: 1024px) {
  .carousel-movil {
    display: none;
  }
}

.banner {
  background-color: black;
  width: 100%;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.banner p {
  margin: 2rem 4rem 2rem 4rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  -webkit-text-stroke: 0.06rem #F4F406;
  color: transparent;
  cursor: default;
  padding: 0.5rem;
}
.banner p:hover {
  transform: scale(1.03);
  transition: 1.5s;
}
@media (max-width: 1024px) {
  .banner {
    display: none;
  }
}

.banner-movil {
  background-color: black;
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.banner-movil p {
  margin: 1rem 2rem 1rem 2rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  color: #F4F406;
  cursor: default;
}
@media (min-width: 1024px) {
  .banner-movil {
    display: none;
  }
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-group .card-home {
  background-color: black;
  width: 15rem;
  padding: 0.5rem;
  margin: 3.5rem;
  cursor: pointer;
}
.card-group .card-home:hover {
  filter: grayscale(1);
}

.boton {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.btn-ver {
  font-family: "Bebas Neue", sans-serif;
  height: 3.5rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: #F4F406;
  border: #F4F406;
  border-style: solid;
  cursor: pointer;
}
.btn-ver.btn-ver:hover {
  background: #F4F406;
  color: black;
  border: #F4F406;
  border-style: solid;
  cursor: pointer;
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}

.accordion {
  width: 90%;
  padding-top: 10rem;
  padding-bottom: 8rem;
  padding-left: 10%;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 1.5rem;
  --bs-accordion-active-bg: #000000;
  --bs-accordion-active-color: #F4F406;
  --bs-accordion-border-radius: 0px;
  --bs-accordion-btn-focus-border-color: #F4F406;
  --bs-accordion-btn-focus-box-shadow: #F4F406;
}

.accordion-button {
  font-family: "Bebas Neue", sans-serif;
  color: #F4F406;
  background-color: black;
  font-size: 2rem;
}

.accordion-body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: black;
  color: white;
}

.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 9%;
  margin-top: -4%;
  margin-bottom: 0;
}
.contact-image:hover {
  transform: scale(0.85);
  transition: 1s;
}

.contact-form {
  background: #F4F406;
  width: 60rem;
  height: 43rem;
}
.contact-form form {
  padding: 10%;
}
.contact-form h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: -2rem;
  text-align: center;
  color: black;
}

.btnContact {
  font-family: "Bebas Neue", sans-serif;
  margin-left: 8.9rem;
  font-size: 1.3rem;
  width: 50%;
  border: none;
  border-radius: 0rem;
  padding: 1.5%;
  background: black;
  color: #F4F406;
  cursor: pointer;
}

.form-group::placeholder {
  font-size: 0.7rem;
}

.contacto {
  padding-top: 12rem;
  display: flex;
  justify-content: center;
}

.form-control {
  resize: none;
}

.row {
  padding-top: 10rem;
}

.container {
  width: 24rem;
  height: 24rem;
  position: relative;
  overflow: hidden;
  padding: 1rem;
}
.container img {
  width: 100%;
  transition: all 0.5s;
}

.content {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: -100%;
  height: 96%;
  width: 93%;
  transition: all 1s;
  cursor: pointer;
}
.content h3 {
  font-family: "Bebas Neue", sans-serif;
  color: #F4F406;
  text-align: center;
  font-size: 2rem;
  padding: 60px 0 0 0;
}
.content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  padding: 20px 20px 15px 20px;
  line-height: 1.5rem;
}

.container:hover .content {
  top: 0;
}

.portfolio {
  overflow-x: hidden;
}

.card-servicios {
  width: 20rem;
  cursor: pointer;
  align-items: center;
}
.card-servicios:hover {
  filter: grayscale(1);
}

.card-body {
  height: 90px;
  background-color: black;
  cursor: default;
}
.card-body h5 {
  font-family: "Bebas Neue", sans-serif;
  color: #F4F406;
  font-size: 2rem;
  text-align: center;
}
.card-body p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
}

.w-100 {
  margin-bottom: 0 !important;
}

.servicios {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
