@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  background-image: url(../images/fondo.png);
  height: 100vh;
  background-repeat: space;
}

@font-face {
  font-family: "iconos";
  src: url(../fonts/social\ media.ttf);
}
body {
  background-color: black;
}
body .logo {
  height: 6rem;
  width: auto;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  body .logo {
    transition: all 1s;
    height: 2rem;
  }
}
body .logo:hover {
  transform: scale(0.9);
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  text-align: center;
}
.navbar-nav a {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}
.navbar-nav a:hover {
  transform: scale(1.2);
  text-decoration: overline;
  color: #F4F406;
}

.navbar-toggler {
  background-color: white;
  font-size: 0.5rem;
}

.nav-link-active {
  text-decoration: overline;
}

footer {
  font-family: "Montserrat", sans-serif;
  background-color: #F4F406;
  color: black;
  height: 2rem;
  display: flex;
  justify-content: center;
  cursor: default;
  font-size: 1.2rem;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}
footer p {
  font-size: 100%;
}
@media (max-width: 1024px) {
  footer {
    display: none;
  }
}

.footer-pages {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer-pages p {
  font-size: 100%;
}

.footer-mobil {
  background-color: #F4F406;
  color: black;
  height: 7rem;
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  flex-wrap: nowrap;
  flex-direction: column;
}
.footer-mobil .footer-social {
  display: flex;
}
.footer-mobil p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-align: center;
}
.footer-mobil li {
  list-style: none;
  padding: 0.5rem;
}
.footer-mobil a {
  font-family: "iconos";
  font-size: 2rem;
  text-decoration: none;
  list-style-type: disc;
  color: black;
  padding: 0.5rem;
}
@media (min-width: 1024px) {
  .footer-mobil {
    display: none;
  }
}

.social {
  position: fixed;
  left: 0%;
  top: 250px;
  z-index: 2000;
}
.social ul {
  list-style: none;
  font-size: 2rem;
  padding-left: 0;
}
.social a {
  display: inline-block;
  color: white;
  padding: 3px 5px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: "iconos";
}
.social a:hover {
  background: #F4F406;
  padding: 3px 20px;
  color: black;
}
.social .facebook {
  background: #3b5998;
}
.social .instagram {
  background: #FD1D1D;
}
.social .mail {
  background: #BB001B;
}
.social .whatsapp {
  background: #075e54;
}
@media (max-width: 1024px) {
  .social {
    display: none;
  }
}

.banner {
  background-color: black;
  width: 100%;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.banner p {
  margin: 2rem 4rem 2rem 4rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  -webkit-text-stroke: 0.06rem #F4F406;
  color: transparent;
  cursor: default;
  padding: 0.5rem;
}
.banner p:hover {
  transform: scale(1.03);
  transition: 1.5s;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-group .card-home {
  background-color: black;
  width: 25rem;
  padding: 0.5rem;
  margin: 3.5rem;
  cursor: pointer;
}
.card-group .card-home:hover {
  filter: grayscale(1);
}

.boton {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.btn-ver {
  font-family: "Bebas Neue", sans-serif;
  height: 3.5rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: #F4F406;
  border: #F4F406;
  border-style: solid;
  cursor: pointer;
}
.btn-ver.btn-ver:hover {
  background: #F4F406;
  color: black;
  border: #F4F406;
  border-style: solid;
  cursor: pointer;
}

.accordion {
  width: 90%;
  padding-top: 3.5rem;
  padding-bottom: 8rem;
  padding-left: 10%;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 1.5rem;
  --bs-accordion-active-bg: #000000;
  --bs-accordion-active-color: #F4F406;
  --bs-accordion-border-radius: 0px;
  --bs-accordion-btn-focus-border-color: #F4F406;
  --bs-accordion-btn-focus-box-shadow: #F4F406;
}

.accordion-button {
  font-family: "Bebas Neue", sans-serif;
  color: #F4F406;
  background-color: black;
  font-size: 2rem;
}

.accordion-body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: black;
  color: white;
}

.contactanos {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem 1rem 0rem;
}
.contactanos .contact_form {
  display: flex;
  justify-content: center;
  width: 45rem;
  background-color: #F4F406;
  padding: 2rem;
  font-family: "Bebas Neue", sans-serif;
}
.contactanos input {
  background-color: black;
  width: 40rem;
  height: 3.5rem;
  border-color: black;
  color: white;
}
.contactanos textarea {
  background-color: black;
  width: 40rem;
  height: 10rem;
  color: white;
}
.contactanos label {
  display: block;
  float: center;
}
.contactanos .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 3.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
}
.contactanos .boton p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  cursor: default;
}
.contactanos .boton .btn-enviar {
  font-size: 1.5rem;
  margin: 0rem;
}
.contactanos span {
  color: black;
}
.contactanos .aviso {
  font-size: 1.2rem;
  color: black;
}
.contactanos h1 {
  font-size: 4rem;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  cursor: default;
  padding-top: 20px;
  text-align: center;
}
.contactanos h3 {
  font-size: 1.5rem;
  padding-left: 10px;
  color: black;
  text-align: center;
  cursor: default;
}
.contactanos p {
  font-size: 1.2rem;
  cursor: default;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.row {
  padding: 2rem;
}

.container {
  width: 23rem;
  height: 23rem;
  position: relative;
  overflow: hidden;
  padding: 2rem;
}
.container img {
  width: 100%;
  transition: all 0.5s;
}

.content {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: -100%;
  height: 92%;
  width: 83%;
  transition: all 1s;
  cursor: pointer;
}
.content h3 {
  font-family: "Bebas Neue", sans-serif;
  color: #F4F406;
  text-align: center;
  font-size: 2rem;
  padding: 60px 0 0 0;
}
.content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  padding: 20px 20px 15px 20px;
  line-height: 1.5rem;
}

.container:hover .content {
  top: 0;
}

.card-servicios {
  width: 20rem;
  cursor: pointer;
  align-items: center;
}
.card-servicios:hover {
  filter: grayscale(1);
}

.card-body {
  height: 90px;
  background-color: black;
}
.card-body h5 {
  font-family: "Bebas Neue", sans-serif;
  color: #F4F406;
  font-size: 2rem;
  text-align: center;
}
.card-body p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
