* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(/images/fondo.png);
    background-color: $color-principal;
    height: 100vh;
}

.footer-movil {
    width: 100vh;
}