.contact-image {
    text-align: center;

        img {
            border-radius: 6rem;
            width: 9%;
            margin-top: -4%;
            margin-bottom: 0;
        }

        &:hover {
            transform: scale(.85);
            transition: 1s;
        }
}

.contact-form  {
    background: $color-secundary;
    width: 60rem;
    height: 43rem;

    form {
        padding: 10%;
    }

    h3 { 
        font-family: $bebas;
        font-size: 3rem;
        margin-bottom: 2rem;
        margin-top: -2rem;
        text-align: center;
        color: $color-principal;
    }
}

.btnContact {
    font-family: $bebas;
    margin-left: 8.9rem;
    font-size: 1.3rem;
    width: 50%;
    border: none;
    border-radius: 0rem;
    padding: 1.5%;
    background: $color-principal;
    color: $color-secundary;
    cursor: pointer;
}

.form-group {
    &::placeholder { 
        font-size: .7rem;
    }
}

.contacto {
    padding-top: 12rem;
    display: flex;
    justify-content: center;
}

.form-control {
    resize: none;
}