.contactanos {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;

    .contact_form {
        display: flex;
        justify-content: center;
        width: 45rem;
        background-color: $color-secundary;
        padding: $spacing-medium;
        font-family: $bebas;
    }

    input {
        background-color: $color-principal;
        width: 40rem;
        height: $spacing-large;
        border-color: $color-principal;
        color: $color-text;
    }

    textarea {
        background-color: $color-principal;
        width: 40rem;
        height: 10rem;
        color: $color-text;
    }

    label {
        display: block;
        float: center;
    }

    .boton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40rem;
        height: $spacing-large;
        font-size: $font-principal;
        background-color: transparent;
        border-style: solid;
        cursor: pointer;
        margin: 0;

        p {
            font-family: $bebas;
            font-size: $font-text;
            cursor: default;
        }

        .btn-enviar {
            font-size: $font-text;
            margin: 0rem;
        }
    }

    span {
        color: $color-principal;
    }

    .aviso {
        font-size: $font-principal;
        color: $color-principal;
    }

    h1 {
        font-size: 4rem;
        color: $color-principal;
        font-family: $bebas;
        cursor: default;
        padding-top: 20px;
        text-align: center;
    }

    h3 {
        font-size: $font-text;
        padding-left: 10px;
        color: $color-principal;
        text-align: center;
        cursor: default;
    }

    p {
        font-size: $font-principal;
        cursor: default;
        color: $color-principal;
        font-family: $montserrat;
    }

}