.banner {
    background-color: black;
    width: 100%;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    margin-top: 3%;

    p {
        margin: 2rem 4rem 2rem 4rem;
        font-family: $bebas;
        text-align: center;
        -webkit-text-stroke: .06rem $color-secundary;
        color: transparent;
        cursor: default;
        padding: $spacing-small;
    }

    p:hover {
        transform: scale(1.03);
        transition: 1.5s;
    }

    @media (max-width: $desktop) {
        display: none;
    }
}

.banner-movil {
    background-color: $color-principal;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin-top: 3%;

    p {
        margin: 1rem 4rem 1rem 4rem;
        font-family: $bebas;
        text-align: center;
        color: $color-secundary;
        cursor: default;
    }

    @media (min-width: $desktop) {
        display: none;
    }
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .card-home {
        background-color: $color-principal;
        width: 25rem;
        padding: $spacing-small;
        margin: $spacing-large;
        cursor: pointer;

        &:hover {
            filter: grayscale(1);
        }
    }
}

.boton {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.btn-ver {
    font-family: $bebas;
    height: $spacing-large;
    width: 10rem;
    font-size: $font-principal;
    background-color: transparent;
    color: $color-secundary;
    border: $color-secundary;
    border-style: solid;
    cursor: pointer;

    &.btn-ver:hover {
        background: $color-secundary;
        color: $color-principal;
        border: $color-secundary;
        border-style: solid;
        cursor: pointer;
    }
}

.main {
    height: 100%;
}