.card-body {

    height: 90px;
    
    h5 {
        font-family: $bebas;
        color: $color-secundary;
        font-size: $font-title;
        text-align: center;
    }

    p {
        font-family: $montserrat;
        color: $color-text;
        font-size: $font-principal;
        line-height: 1.2rem;
        text-align: center;
    }
}