.card-servicios {
    width: 20rem;
    cursor: pointer;
    align-items: center;

    &:hover {
        filter: grayscale(1);
    }
}

.card-body {

    height: 90px;
    background-color: $color-principal;
    cursor: default;

    h5 {
        font-family: $bebas;
        color: $color-secundary;
        font-size: $font-title;
        text-align: center;
    }

    p {
        font-family: $montserrat;
        color: $color-text;
        font-size: $font-principal;
        line-height: 1.2rem;
        text-align: center;
    }
}

.w-100 {
    margin-bottom: 0 !important;
}

.servicios {
    overflow-x: hidden;
}