.servicios {
    h1 {
        color: $color-secundary;
        font-family: $bebas;
    }

        p {
            color: $color-text;
            font-family: $montserrat;
            text-align: center;
        }
}