footer {
    font-family: $montserrat;
    background-color: $color-secundary;
    color: $color-principal;
    height: $spacing-medium;
    display: flex;
    justify-content: center;
    cursor: default;
    font-size: $font-principal;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
    position: fixed;
    bottom: 0;

    p {
        font-size: 100%;
    }

    @media (max-width: $desktop) {
        display: none;
    }
}

.footer-pages {
    width: 100%;
    position: fixed;
    bottom: 0;

    p {
        font-size: 100%;
    }
}

.footer-mobil {
    background-color: $color-secundary;
    color: $color-principal;
    height: 5.5rem;
    display: flex;
    width: 100%;
    position:fixed;
    bottom: 0;
    flex-wrap: nowrap;
    flex-direction: column;

    .footer-social {
        display: flex;
    }

    p {
        font-family: $montserrat;
        font-size: .6rem;
        text-align: center;
        padding-bottom: 1rem;
    }

    li {
        list-style: none;
        padding: .5rem;
        padding-top: 1rem;
    }

    a {
        font-family: "iconos";
        font-size: 1.5rem;
        text-decoration: none;
        color: $color-principal;
    }

    @media (min-width: $desktop) {
        display: none;
    }
}